<div id="<%= dom_id clinic %>">

  <%= image_tag "clinic-believe-it.png", class:'img-thumbnail bg-dark', alt:'clinic building', width:'256', height:'171' %>

  <br/>
  <br/>

  <p>
    <strong>Address:</strong>
    <%= clinic.address %>
  </p>

</div>
