<h1>Editing clinic</h1>

<%= render "form", clinic: @clinic %>

<br>

<div class='text-end'>
  <%= link_to "Show this clinic", @clinic, class:'btn btn-primary btn-sm' %> 
  <%= link_to "Back to clinics", clinics_path, class:'btn btn-primary btn-sm' %>
</div>
