
<div class="container-fluid text-center table-responsive" id="calendar" >
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <p class="fs-3"><%= @month %> <%= @d.year %></p>
        </tr>
        <tr>
          <th scope="col" width="100px">Sunday</th>
          <th scope="col" width="100px">Monday</th>
          <th scope="col" width="100px">Tuesday</th>
          <th scope="col" width="100px">Wednesday</th>
          <th scope="col" width="100px">Thursday</th>
          <th scope="col" width="100px">Friday</th>
          <th scope="col" width="100px">Saturday</th>
        </tr>
      </thead>
      <tbody>
        <tr id="calendar-week">
          <% @days.times do |day| %>
            <% if day % 7 == 0 %>
              <tr></tr>
            <% end %>
            <td width="100px" height="100px" id="calendar-day">
              <%= day + 1 %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>