<% if account_signed_in? %>

  <h1>Account Home</h1>
  <hr/>
  
  <%= render "clinics" %>

  <br/>

  <%= render "doctors" %>

  <br/>

  <%= render "patients" %>

  <br/>

<% else %>

  <h3 class='text-center'>Please sign in to continue or sign up to get started!</h3>

<% end %>

