
<% if account_signed_in? %>

  <h1>Account Overview</h1>
  <hr/>
  
  <%= render "clinics" %>
  <br/>
  <hr/>

  <%= render "doctors" %>
  <br/>
  <hr/>

  <%= render "patients" %>
  <br/>
  <hr/>

<% else %>

  <h3 class='text-center'>Please sign in to continue or sign up to get started!</h3>

<% end %>

