
<% if not account_signed_in? %>
  
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <%= javascript_include_tag 'intro.js' %>
    </head>
    <body>
      <div class="container">
        <p>
        <span id="sentenceloop"></span>
        <span id="cursor">|</span>
        </p>
      </div>
    </body>
  </html>

<% else %>

  <div class="container text-center">
    <div class="btn-group-vertical">
      <%= link_to 'Account Overview', home_path, class:'btn btn-primary' %>
      <%= link_to 'Calendar', calendars_path, class:'btn btn-primary' %>
      <%= link_to 'Appointments', appointments_path, class:'btn btn-primary' %>
    </div>
  </div>

<% end %>






