<% if account_signed_in? %>

  <div class="container text-center">
    <p>Welcome! Click Account Overview at the top for a general look at your account and to see upcoming appointments.</p>
  </div>

<% else %>

    <!DOCTYPE html>
  <html lang="en">
  <head>
    <%= javascript_include_tag 'intro.js' %>
  </head>
  <body>
    <div class="container">
      <p>
      <span id="sentenceloop"></span>
      <span id="cursor">|</span>
      </p>
    </div>
  </body>
  </html>

<% end %>




