<h1>Editing Patient</h1>

<%= render "form", patient: @patient %>

<br>

<div class="text-end">
  <%= link_to "Show this Patient", @patient, class:'btn btn-primary btn-sm' %>
  <%= link_to 'Back to Patients', patients_path, class:'btn btn-primary btn-sm' %>
</div>
