<h1>Patients</h1>

<%= link_to "New Patient", new_patient_path, class:'btn btn-primary btn-sm' %>

<hr/>

<div id="patients">
  <% current_account.patients.each do |patient| %>
    <%= render patient %>
    <p>
      <%= link_to "Show this patient", patient %>
    </p>
  <% end %>
</div>


