<h1>Editing Doctor</h1>

<%= render "form", doctor: @doctor %>

<br>

<div class="text-end">
  <%= link_to "Show this doctor", @doctor, class:'btn btn-primary btn-sm' %> 
  <%= link_to "Back to doctors", doctors_path, class:'btn btn-primary btn-sm' %>
</div>
