/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




/* ------- Class ------- */

.custom {
  width: 130px !important;
  height: 30px !important;
}

.container {
  border-radius: 15px;
}

.container.p-3 {
  box-shadow: 2px 2px 5px black;
}

.card-body {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #96DED1;
}

.card-header.text-center.fs-5 {
  background-color: #40E0D0;
}

.col-2 {
  text-align: center;
}

/* ------- ID ------- */

#calendar-day {
  text-align: start;
  vertical-align: top;
  padding: 2px;
  border: 2px solid black;
}

#calendar-week {
  text-decoration: none;
}

#clinic {
  box-shadow: 2px 2px 5px black;
}

#color-this {
  background-color: #40B5AD;
}

#fixed {
  position: fixed;
}

#shadow {
  box-shadow: 2px 2px 5px black;
}

#show {
  border: 2px solid black;
}

